/* Imported Fonts */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

/* Generic Styles */

body {
  font-family: "Raleway", sans-serif;
  color: #fff;
  min-width: 100vw;
  min-height: 100vh;
  background: rgb(252, 120, 0);
  background: linear-gradient(
    180deg,
    rgba(252, 120, 0, 1) 20%,
    rgba(255, 164, 0, 1) 80%
  );
}

/* App container Styles */

.app-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header Styles */

h1 {
  color: white;
  width: 100%;
  text-align: center;
}

/* Weather Card Styles */

.current-weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-weather-card-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-weather-card-middle {
  display: flex;
  align-items: center;
  min-width: 160px;
}

.current-weather-card-middle-temp {
  font-size: 40px;
  padding: 0;
  margin: 0;
}

.current-weather-card-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
