/* Imported Fonts */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

/* Generic Styles */

html {
  height: 100%;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100%;
  background: rgb(252, 120, 0);
  background: linear-gradient(
    180deg,
    rgba(252, 120, 0, 1) 20%,
    rgba(255, 164, 0, 1) 80%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#time,
p {
  font-family: "Muli", sans-serif;
  color: #fff;
}

svg {
  color: #fff;
}

.flex-column {

}

/* App container Styles */

.app-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animated-fade-in{
  animation: fadein 3s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Header Styles */

h1 {
  color: white;
  width: 100%;
  text-align: center;
}

.weekly-weather-container {
  width: 100%;
}

/* Weather Card Styles */

.current-weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-weather-card-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-weather-card-top-location {
  display: flex;
  align-items: center;
}

.current-weather-card-top-location > h3 {
  margin-left: 10px;
}

.current-weather-card-date-time {
  margin-left: 3px;
}

.current-weather-card-middle {
  display: flex;
  align-items: center;
  min-width: 185px;
  position: relative;
}

.current-weather-card-middle-temp {
  font-size: 40px;
  padding: 0;
  margin: 0;
}

#current-weather-card-middle-degrees {
  position: absolute;
  right: 25px;
  top: 30px;
}

.current-weather-card-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
}

/* Sunrise and sunset time styles */

.rise-and-set {
  display: flex;
  justify-content: space-around;
  padding: 25px 5px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 20px;
}

.rise-and-set-sunrise {
  display: flex;
  align-items: flex-end;
}

.rise-and-set-sunrise-time {
  margin-left: 10px;
}

.rise-and-set-sunset {
  display: flex;
  align-items: flex-end;
}

.rise-and-set-sunset-time {
  margin-left: 10px;
}

/* Hourly data styles */

.hourly-weather-container {
  margin-top: 30px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.2);
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.hourly-weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 95px;
}

#hourly-weather-card-time {
  width: 50%;
}

.hourly-weather-card-temp {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.hourly-weather-card-rain {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-around;
  margin-top: -10px;
}

/* Daily Weather styles */

.daily-weather-container {
  margin-top: 30px;
  padding: 10px 20px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.daily-weather-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.daily-weather-card-day {
  width: 60px;
}

.daily-weather-card-rain {
  display: flex;
  align-items: center;
  width: 60px;
  justify-content: space-between;
}

.daily-weather-card-temp {
  display: flex;
  align-items: center;
  width: 60px;
  justify-content: space-around;
}

/* Responsive styles */
@media (min-width: 600px) {
  .weekly-weather-container {
    width: 400px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 1px 20px 40px rgba(0, 0, 0, 0.3);
    transition: all 2s;
  }
  .weekly-weather-container:hover {
    box-shadow: 1px 20px 40px rgba(0, 0, 0, 0.8);
    transition: all 2s;
  }
  .hourly-weather-container:hover {
    background-color: rgba(252, 120, 0, 0.8);
  }
}
